<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>mini system login</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/index.css" media="screen"/>
        <link rel="stylesheet" type="text/css" href="../css/global.css" media="screen"/>
    </head>

    <body>
        <form>
            <h3>Cadastro
            </h3>
            <input type="text" name="nome" placeholder="Digite seu nome..."/>
            <input type="text" name="email" placeholder="Digite seu e-mail..."/>
            <input type="password" name="senha" placeholder="Digite sua senha..."/>
            <input type="submit" name="acao" value="Enviar"/>
        </form>
    </body>
</html>